/* Etoiles */
.star {
  position: absolute;
  border-radius: 50%;
  background: white ;
}

/* Animation subtile des étoiles */
@keyframes pulse-subtle {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

.animate-pulse-subtle {
  animation: pulse-subtle infinite alternate;
}

/* Météores */
.meteor {
  position: absolute;
  transform: rotate(-45deg);
}

/* Animation météores */
@keyframes meteor {
  0% {
    transform: translateX(0) translateY(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-500px) translateY(500px) rotate(-45deg);
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor linear infinite;
}
